body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header h1 {
    color: #3882F6;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7em;
    margin: 0;
    padding-left: 0.2em;
}



.body1 {
    background-color: #1F2937;
    color: white;
    padding: 1em 0em 1em 2em;
}

.dark h3 {
    font-weight: 100;
    font-size: 2em;
    margin-bottom: 0;
}

.dark p {
    margin-top: 0;
    font-size: 3em;
    font-weight: bold;
}

.heromain h3 {
    font-weight: 100;
    font-size: 2em;
    margin-bottom: 0;
}

.heromain p {
    margin-top: 0;
    font-size: 4em;
    font-weight: bold;
}

.herosecondary h3 {
    font-weight: 100;
    font-size: 2em;
    margin-bottom: 0;
}

.herosecondary p {
    margin-top: 0;
    font-size: 1em;
    font-weight: bold;
    color: #E5E7EB;
}

.headerlogo h3 {
    font-weight: 100;
    font-size: 2em;
    margin-bottom: 0;
}

.headerlogo p {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
}



.body2 {
    padding: 1em 0em 1em 2em;
}

.buttoncolor h3 {
    font-weight: 100;
    font-size: 2em;
    margin-bottom: 0;
}

.buttoncolor p {
    font-size: 3em;
    font-weight: bold;
    color: #3882F6;
    margin-top: 0;
}

.infoheader h3 {
    font-weight: 100;
    font-size: 2em;
    margin-bottom: 0;
}

.infoheader p {
    margin-top: 0;
    font-weight: bold;
    font-size: 2em;
}



.body3 {
    background-color: RGB(233, 236, 240);
    color: black;
    padding: 1em 0em 1em 2em;
}

.quotesection h3 {
    font-weight: 100;
    font-size: 2em;
    margin-bottom: 0;
}

.quotesection p {
    margin-top: 0;
    font-weight: bold;
    font-size: 3em;
}

.quotetext h3 {
    font-weight: 100;
    font-size: 2em;
    margin-bottom: 0;
}

.quotetext p {
    margin-top: 0;
    font-size: 2em;
    font-style: italic;
}